#########################################
# Ignore compiled binaries and libraries
#########################################

####### C++ #######
*.o                  #  Object Files
*.d                  #  
*.obj                #  
*.exe                #  Executables
*.out                #  
*.so                 #  Linked Libraries
*.dll                #  
*.lai                #  
*.la                 #  
*.a                  #  
*.lib                #  

###### Python ######
*.py[cod]            #  Binaries
__pycache__          #  Cache
*.log                #  Log Files


